<form action="/user/change_password" method="POST">

    <div class="form-group">
        <label>Current Password</label>
        <input name="current_password"  type="Password" class="form-control"  placeholder="Enter Current Password">
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input name="new_password"  type="Password" class="form-control"  placeholder="Enter New Password">
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input name="new_password1"  type="Password" class="form-control"  placeholder="Confirm Password">
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>

</form>

