<form action="/user/forget_password" method="post">

    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" placeholder="Enter Your Email">
    </div>

   <button type="submit" class="btn btn-dark btn-block">Submit</button>

</form>


