<main role="main" class="container">
   <div class="jumbotron">
     <h1>Welcome To My Blog</h1>
     <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
   </div>
</main>
